@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: #f2f2f2;
  font-family: "Nunito";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Brawler", serif;
}
