@keyframes location-title-animation {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(0vh);
  }
}
section.location {
  & {
    display: flex;
    padding-top: 15vh;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 80vw;
    margin-inline: auto;
  }
  h2 {
    margin-block: -10vh 0;
    text-align: center;
    view-timeline-name: --title-adopt-image;
    view-timeline-axis: block;
    animation-name: location-title-animation;
    animation-fill-mode: both;
    animation-timeline: --title-adopt-image;
    animation-range: entry 20% cover 50%;
    font-size: 48px;
  }
  @media (min-width: 768px) {
    & {
      margin-top: -10vh;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
    }
    h2 {
      grid-column: span 2;
    }
  }
  .content {
    width: 90%;
    margin-inline: auto;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    row-gap: 5rem;
  }
  .content span {
    font-size: 18px;
    line-height: 1;
    vertical-align: top;
    text-wrap: pretty;
  }

  .center-icon {
    padding: 0.5rem;
    border-radius: 99999px;
    justify-content: center;
    align-items: center;
    z-index: 400;
    color: #cb062e;
    background: hsl(0, 0%, 90%);
    position: absolute;
    bottom: 10px;
    left: 10%;
  }
  @media (min-width: 768px) {
    .center-icon {
      left: 10px;
    }
  }
  .center-icon {
    display: none;
  }
  .center-icon.active {
    display: flex;
  }
}
.liflet-map {
  aspect-ratio: 16/9;
  width: min(90dvw, 500px);
  margin-inline: auto;
  border-radius: 1rem;
}
@keyframes animation-moto {
  from {
    left: 0;
    right: 100%;
  }
  to {
    right: -50%;
  }
}
.motocycle {
  display: flex;
  animation: animation-moto linear 4s infinite;
  right: -50%;
}
